.metadata
.settings
bin
gwt-unitCache
classes
deploy
Jewel.Engine/Jewel.Engine.jar
Jewel.Petri/Jewel.Petri.jar
Jewel.Batch/Jewel.Batch.jar
Jewel.Web/Jewel.Web.jar
Jewel.Web/war/jewel_web
Jewel.Mobile/war/jewel_mobile
