/*****************************************************************************************************/
/* Generic                                                                                           */
/*****************************************************************************************************/

html
{
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body
{
	overflow: hidden;
	font: 12pt Verdana;
	margin: 0;
	padding: 0;
}

img
{
	display: block;
}

button
{
	font: 12pt Verdana;
	white-space: nowrap;
}

input
{
	font: 12pt Verdana;
	white-space: nowrap;
}

select
{
	font: 12pt Verdana;
	white-space: nowrap;
}

/*****************************************************************************************************/
/* Login Screen                                                                                      */
/*****************************************************************************************************/

.login
{
	height: 0;
	width: 0;
}

.login-Error-Wrapper
{
}

.login-Error
{
	width: 315px;
	text-align: center;
	color: Red;
	padding: 10px 0 5px 0;
	margin: auto;
}

.login-Form-Wrapper
{
}

.login-Form
{
	margin: 5px;
}

.login-Label-Wrapper
{
}


.login-Label
{
	width: 100px;
}

.login-Field-Wrapper
{
}

.login-Field
{
	width: 200px;
}

.login-Button-Wrapper
{
	height: 0;
	text-align: center;
	padding: 5px 0 10px 0;
}

.login-Button
{
	height: 36px;
	width: 315px;
	padding: 2px 5px;
	cursor: pointer;
}

/*****************************************************************************************************/
/* Error Popup                                                                                       */
/*****************************************************************************************************/

.errorPopup
{
}

.errorPopup-Glass
{
	background-color: #87cefa;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.errorPopup-Message-Wrapper
{
	border: 1px solid black;
	padding: 10px;
	background-color: white;
}

.errorPopup-Message
{
	color: red;
}

/*****************************************************************************************************/
/* Menu Screen                                                                                       */
/*****************************************************************************************************/

.menu
{
	margin: 5px;
	height: 0;
	width: 500px;
}

.menu-Item-Wrapper
{
}

.menu-Item
{
	height: 36px;
	width: 100%;
	padding: 2px 5px;
	cursor: pointer;
}

/*****************************************************************************************************/
/* Single Form                                                                                       */
/*****************************************************************************************************/

.singleForm
{
	width: 100%;
	padding: 5px;
	height: 0;
}

.singleForm-Header-Wrapper
{
}

.singleForm-Form-Wrapper
{
}

/*****************************************************************************************************/
/* Closable Header                                                                                   */
/*****************************************************************************************************/

.closableHeader
{
	width: 100%;
	margin: 0 0 5px;
}

.closableHeader-CloseButton-Wrapper
{
	width: 0;
}

.closableHeader-CloseButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.closableHeader-Label-Wrapper
{
	padding: 0 0 0 5px;
}

.closableHeader-Label
{
}

/*****************************************************************************************************/
/* Editor Form                                                                                       */
/*****************************************************************************************************/

.editorForm
{
	width: 100%;
	height: 0;
}

.editorForm-Form-Wrapper
{
}

.editorForm-Commands-Wrapper
{
}

/*****************************************************************************************************/
/* Simple Form                                                                                       */
/*****************************************************************************************************/

.simpleForm
{
}

.simpleForm-Label-Wrapper
{
}

.simpleForm-Label
{
	width: 150px;
	white-space: nowrap;
}

.simpleForm-Control-Wrapper
{
}

.formControl
{
	width: 300px;
}

/*****************************************************************************************************/
/* Lookup Control                                                                                    */
/*****************************************************************************************************/

.lookup
{
}

.lookup-Display-Wrapper
{
}

.lookup-Display
{
	width: 100%;
}

.lookup-Button-Wrapper
{
	width: 0;
}

.lookup-Button
{
	cursor: pointer;
	padding: 2px;
}

/*****************************************************************************************************/
/* Datebox Control                                                                                    */
/*****************************************************************************************************/

.datebox
{
}

.datebox-Display-Wrapper
{
}

.datebox-Display
{
	width: 100%;
}

.datebox-Button-Wrapper
{
	width: 0;
}

.datebox-Button
{
	cursor: pointer;
	padding: 2px;
}

/*****************************************************************************************************/
/* FileXfer Control                                                                                    */
/*****************************************************************************************************/

.mFileXfer
{
}

.mFileXfer-Display-Wrapper
{
}

.mFileXfer-Display
{
	width: 100%;
}

.mFileXfer-View-Wrapper
{
	width: 0;
}

.mFileXfer-View
{
	cursor: pointer;
	padding: 2px;
}

.mFileXfer-Attach-Wrapper
{
	width: 0;
}

.mFileXfer-Attach
{
	cursor: pointer;
	padding: 2px;
}

.mFileXfer-Clear-Wrapper
{
	width: 0;
}

.mFileXfer-Clear
{
	cursor: pointer;
	padding: 2px;
}

/*****************************************************************************************************/
/* Command Set                                                                                       */
/*****************************************************************************************************/

.commandSet
{
	margin: 5px 0 0;
}

.commandSet-Command
{
	cursor: pointer;
	padding: 2px 5px;
}

/*****************************************************************************************************/
/* Complex Screen                                                                                    */
/*****************************************************************************************************/

.complexScreen
{
	width: 100%;
	padding: 5px;
	height: 0;
}

.complexScreen-Header-Wrapper
{
}

.complexScreen-Grid-Wrapper
{
}

/*****************************************************************************************************/
/* Single Grid                                                                                       */
/*****************************************************************************************************/

.singleGrid
{
	width: 100%;
	height: 0;
}

.singleGird-SearchForm-Wrapper
{
}

.singleGird-Grid-Wrapper
{
}

.singleGird-Editor-Wrapper
{
}

/*****************************************************************************************************/
/* Search Form                                                                                       */
/*****************************************************************************************************/

.searchForm
{
	width: 100%;
	height: 0;
}

.searchForm-Form-Wrapper
{
}

.searchForm-Toolbar-Wrapper
{
}

.searchForm-Toolbar
{
	margin: 5px 0 0;
}

.searchForm-SearchButton-Wrapper
{
	width: 0;
}

.searchForm-SearchButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.searchForm-ClearButton-Wrapper
{
	width: 0;
	padding: 0 0 0 5px;
}

.searchForm-ClearButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

/*****************************************************************************************************/
/* Simple Grid                                                                                       */
/*****************************************************************************************************/

.simpleGrid
{
	width: 100%;
	height: 0;
}

.simpleGrid-Toolbar-Wrapper
{
}

.simpleGrid-Toolbar
{
}

.simpleGrid-SearchButton-Wrapper
{
	width: 0;
}

.simpleGrid-SearchButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.simpleGrid-NewButton-Wrapper
{
	width: 0;
	padding: 0 0 0 5px;
}

.simpleGrid-NewButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.simpleGrid-Grid-Wrapper
{
}

.simpleGrid-Grid
{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	cursor: pointer;
	empty-cells: show;
}

.simpleGrid-Grid-HeaderCell
{
	background-color: LightGrey;
	text-align: center;
}

.simpleGrid-Grid-Row
{
	border-color: Black;
}

.simpleGrid-Grid-OddRow
{
	background-color: White;
}

.simpleGrid-Grid-EvenRow
{
	background-color: LightCyan;
}

.simpleGrid-Grid-Selected
{
	background-color: #316ac5;
	color: White;
	border-color: Black;
	cursor: default;
}

.simpleGrid-Grid-CellDiv
{
	white-space: nowrap;
	overflow: hidden;
	height: 20px;
}

.simpleGrid-Grid td
{
	border-width: 1px;
	border-color: Black;
	border-style: solid;
}

.simpleGrid-Pagebar-Wrapper
{
}

.simpleGrid-Pagebar
{
}

.simpleGrid-PageFirstButton-Wrapper
{
	width: 0px;
}

.simpleGrid-PageFirstButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.simpleGrid-PagePrevButton-Wrapper
{
	width: 0;
	padding: 0 0 0 5px;
}

.simpleGrid-PagePrevButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.simpleGrid-PageText-Wrapper
{
	width: 0;
	padding: 0 5px;
}

.simpleGrid-PageText
{
	text-align: center;
	white-space: nowrap;
}

.simpleGrid-PageNextButton-Wrapper
{
	width: 0px;
	padding: 0 5px 0 0;
}

.simpleGrid-PageNextButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.simpleGrid-PageLastButton-Wrapper
{
	width: 0px;
}

.simpleGrid-PageLastButton
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

/*****************************************************************************************************/
/* Multi Editor                                                                                      */
/*****************************************************************************************************/

.multiEditor
{
	width: 100%;
	height: 0;
}

.multiEditor-Toolbar-Wrapper
{
}

.multiEditor-Toolbar
{
	padding: 0 0 5px 0;
}

.multiEditor-Edit-Wrapper
{
	width: 0px;
}

.multiEditor-Edit
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.multiEditor-Save-Wrapper
{
	width: 0px;
	padding: 0 5px;
}

.multiEditor-Save
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.multiEditor-Cancel-Wrapper
{
	width: 0px;
}

.multiEditor-Cancel
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.multiEditor-Delete-Wrapper
{
	width: 0px;
	padding: 0 5px;
}

.multiEditor-Delete
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.multiEditor-Selector-Wrapper
{
}

.multiEditor-Selector
{
}

.multiEditor-Content-Wrapper
{
}

.multiEditor-Content
{
	width: 100%;
}

/*****************************************************************************************************/
/* Simple Report                                                                                     */
/*****************************************************************************************************/

.simpleReport
{
	width: 100%;
	padding: 5px;
	height: 0;
}

.simpleReport-Header-Wrapper
{
}

.simpleReport-Form-Wrapper
{
}

.simpleReport-Open-Wrapper
{
	padding: 5px 0 0 0;
}

.simpleReport-Open
{
	cursor: pointer;
	padding: 2px 5px;
	width: 150px;
}

/*****************************************************************************************************/
/* Lookup Popup                                                                                       */
/*****************************************************************************************************/

.lookupPopup
{
	padding: 5px;
}

.lookupPopup-Wrapper
{
}

.lookupPopup-Glass
{
	background-color: #87cefa;
}

/*****************************************************************************************************/
/* Popup Grid                                                                                        */
/*****************************************************************************************************/

.popupGrid
{
}

.popupGrid-Main
{
}

.popupGrid-Grid
{
}

.popupGrid-Resultsbar-Wrapper
{
}

.popupGrid-Resultsbar
{
	padding: 5px 0 0 0;
}

.popupGrid-Select-Wrapper
{
	width: 0px;
}

.popupGrid-Select
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.popupGrid-Empty-Wrapper
{
	width: 0px;
	padding: 0 5px;
}

.popupGrid-Empty
{
	cursor: pointer;
	padding: 2px 5px;
	width: 150px;
}

.popupGrid-Details-Wrapper
{
	width: 0px;
}

.popupGrid-Details
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

/*****************************************************************************************************/
/* Date Popup                                                                                        */
/*****************************************************************************************************/

.datePopup
{
	padding: 5px;
}

.datePopup-Wrapper
{
}

.datePopup-Glass
{
	background-color: #87cefa;
}

.datePopup-Datepicker-Wrapper
{
}

.datePopup-Datepicker
{
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 250px;
}

.datePopup-Datepicker .datePickerMonthSelector
{
	border-width: 0px 0px 1px 0px;
	border-color: black;
	border-style: solid;
	height: 40px;
}

.datePopup-Datepicker .datePickerMonth
{
	text-align: center;
	font-weight: bold;
	color: darkblue;
	cursor: default;
}

.datePopup-Datepicker .datePickerPreviousButton
{
	cursor: pointer;
}

.datePopup-Datepicker .datePickerNextButton
{
	cursor: pointer;
}
.datePopup-Datepicker .datePickerDays
{
	width: 100%;
	height: 100%;
}

.datePopup-Datepicker .datePickerWeekendLabel
{
	font-weight: bold;
	padding: 5px 0px;
	text-align: center;
	cursor: default;
}

.datePopup-Datepicker .datePickerWeekdayLabel
{
	font-weight: bold;
	padding: 5px 0px;
	text-align: center;
	cursor: default;
}

.datePopup-Datepicker .datePickerDay
{
	padding: 0px 0px 5px;
	text-align: center;
	cursor: pointer;
}

.datePopup-Datepicker .datePickerDayIsToday
{
	text-decoration: underline;
}

.datePopup-Datepicker .datePickerDayIsFiller
{
	color: lightgray;
}

.datePopup-Datepicker .datePickerDayIsValue
{
	font-weight: bold;
	color: white;
	background-color: blue;
}

.datePopup-Timebar-Wrapper
{
	text-align: right;
	width: 100%;
	border-color: black;
    border-style: solid;
    border-width: 0 1px 1px;
    background: white;
}

.datePopup-Timebar
{
	padding: 5px 5px 5px 0;
	margin: auto 0 auto auto;
}

.datePopup-Hours-Wrapper
{
}

.datePopup-Hours
{
	width: 25px;
}

.datePopup-Minutes-Wrapper
{
}

.datePopup-Minutes
{
	width: 25px;
}

.datePopup-Seconds-Wrapper
{
}

.datePopup-Seconds
{
	width: 25px;
}

.datePopup-Nanos-Wrapper
{
}

.datePopup-Nanos
{
	width: 35px;
}

.datePopup-Buttonbar-Wrapper
{
}

.datePopup-Buttonbar
{
	padding: 5px 0 0 0;
}

.datePopup-Ok-Wrapper
{
	width: 0px;
}

.datePopup-Ok
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}

.datePopup-Empty-Wrapper
{
	width: 0px;
	padding: 0 5px;
}

.datePopup-Empty
{
	cursor: pointer;
	padding: 2px 5px;
	width: 150px;
}

/*****************************************************************************************************/
/* File Popup                                                                                       */
/*****************************************************************************************************/

.filePopup
{
	padding: 5px;
}

.filePopup-Wrapper
{
}

.filePopup-Glass
{
	background-color: #87cefa;
}

.filePopup-Main
{
}

.filePopup-ErrorLine
{
	color: red;
}

.filePopup-Form-Wrapper
{
}

.filePopup-Form
{
}

.filePopup-Upload
{
}

.filePopup-Ok-Wrapper
{
	padding: 5px 0 0 0;
}

.filePopup-Ok
{
	cursor: pointer;
	padding: 2px 5px;
	width: 100px;
}
